<div class="fixed inset-0 w-screen h-max min-h-screen z-10 backdrop-blur-sm" (click)="handleClose()"></div>
<form [formGroup]="newPostForm" (ngSubmit)="onSubmit()" class="z-20 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    bg-slate-800 rounded-lg p-5 text-white font-sans font-semibold w-fit min-[246px]:w-[calc(66.67%+3rem)]">
    <label for="content">Content</label>
    <br>
    <textarea #newContentInput id="content" name="content" rows="3" formControlName="content"
        class="w-full p-2 rounded-lg bg-slate-500 placeholder-white" placeholder="Write something">
    </textarea>
    <div *ngIf="contentInput.dirty || contentInput.touched" class="text-red-500">
        <small *ngIf="contentInput.hasError('required')">
            Content cannot be empty!
        </small>
        <small *ngIf="contentInput.hasError('maxlength')">
            Content exceeds 500 characters!
        </small>
    </div>
    <p>Images</p>
    <dropzone formControlName="files"></dropzone>
    <div *ngIf="filesInput.dirty || filesInput.touched" class="text-red-500">
        <small *ngIf="filesInput.hasError('required')">
            Select at least one file!
        </small>
        <small *ngIf="filesInput.hasError('maxlength')">
            You can only select at most {{maxFilesLength}} files!
        </small>
        <small *ngIf="filesInput.hasError('maxSize')">
            Your current files exceeds {{maxFilesSize/(1024*1024)}} MB!
        </small>
    </div>
    <div class="flex justify-end gap-2">
        <button type="submit"
            class="bg-blue-500 p-1 rounded-lg mt-2 hover:bg-indigo-600 disabled:bg-gray-600 disabled:cursor-not-allowed disabled:hover:bg-gray-600"
            [disabled]="submitClicked && !newPostForm.valid">
            Confirm
        </button>
        <button type="button" class="bg-gray-400 p-1 rounded-lg mt-2 hover:bg-gray-600"
            (click)="handleClose()">Close</button>
    </div>
</form>