<div (mouseenter)="toggleShowButton()" (mouseleave)="hideButton()" class="p-4 h-full w-full">
    <div *ngIf="!editing;else newContent">
        <div class="break-all mt-4 w-full">{{post.content}}</div>
        <div class="mt-3 flex gap-2 items-start justify-start flex-wrap">
            <img *ngFor="let image of getImagesToDisplay(); index as i" src="/assets/images/{{image.path}}"
                [alt]="image.path" class="h-20 w-20 border border-slate-500 rounded-lg hover:cursor-pointer"
                (click)="startImagePreview(i)">
            <span *ngIf="post.images.length>11" class="rounded-lg hover:cursor-pointer border border-slate-500"
                (click)="startImagePreview(10)">
                <span
                    class="bg-black absolute h-20 w-20 bg-opacity-50 text-white rounded-lg flex justify-center items-center">
                    +{{post.images.length-11}}
                </span>
                <img src="/assets/images/{{post.images[10].path}}" [alt]="post.images[10].path"
                    class="h-20 w-20 rounded-lg">
            </span>
        </div>
    </div>
    <ng-template #newContent class="relative">
        <form [formGroup]="postForm">
            <textarea formControlName="content" #newContentInput rows="3"
                class="bg-slate-500 w-full p-1 resize-none rounded-lg mt-4 break-all placeholder-white"
                placeholder="Write something" (keydown)="handleEnter($event)"></textarea>
            <div class="text-red-500 font-normal">
                <small *ngIf="contentInput?.hasError('required')">
                    Content cannot be empty!
                </small>
                <small *ngIf="contentInput?.hasError('maxlength')">
                    Content exceeds 500 characters!
                </small>
            </div>
            <dropzone2 formControlName="files" class="block mb-1" (imagesAdded)="addImages($event)"
                (imageRemoved)="removeImage($event)"></dropzone2>
            <div class="text-red-500 font-normal">
                <small *ngIf="filesInput?.hasError('required')">
                    Select at least one file!
                </small>
                <small *ngIf="filesInput?.hasError('maxlength')">
                    You can only select at most {{maxFilesLength}} files!
                </small>
                <small *ngIf="filesInput?.hasError('maxSize')">
                    Your current files exceeds {{maxFilesSize/(1024*1024)}} MB!
                </small>
            </div>
        </form>
    </ng-template>
    <div class="absolute right-1 top-1" *ngIf="showButton || editing">
        <button type="button"
            class="hover:bg-indigo-600 p-1 rounded-md disabled:hover:bg-gray-500 disabled:cursor-not-allowed"
            (click)="toggleEditing()" [disabled]="editing && postForm.invalid">
            <svg *ngIf="!editing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="w-5 h-5">
                <path d="M5.433 13.917l1.262-3.155A4 4 0 017.58 9.42l6.92-6.918a2.121 2.121 0 013 3l-6.92 
                    6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 01-.65-.65z" />
                <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0010 3H4.75A2.75 2.75 0 002 5.75v9.5A2.75 
                    2.75 0 004.75 18h9.5A2.75 2.75 0 0017 15.25V10a.75.75 0 00-1.5 0v5.25c0 .69-.56 1.25-1.25 
                    1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5z" />
            </svg>
            <svg *ngIf="editing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="w-5 h-5">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 
                4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
        </button>
        <button type="button" class="hover:bg-red-700 p-1 rounded-md" (click)="toggleDeleting()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 
                    2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75
                    2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 
                    4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 
                    0 101.5.06l.3-7.5z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>

<delete-post *ngIf="deleting" class="" (closeModal)="toggleDeleting()"
    (removePost)="this.removePost.emit(this.post.id)">
</delete-post>

<image-preview *ngIf="showImagePreview" [images]="getAllImagesToPreview()" [imageToPreviewIndex]="imageToPreviewIndex"
    (closeImage)="toggleShowImagePreview()">
</image-preview>