<div id="dropzone" (drop)="handleFiles($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
    (click)="openFileInput()"
    class="border-4 border-indigo-600 border-dashed hover:cursor-pointer bg-slate-500 flex justify-center items-center rounded-lg p-4 gap-2 flex-wrap h-fit min-h-[9rem]"
    [class.justify-center]="noImages()" [class.justify-start]="!noImages()">
    <p *ngIf="noImages()">Drag & drop / click to select your images here</p>
    <div *ngFor="let image of imagesDataUrl; index as i" class="relative">
        <img [src]="image" class="w-20 h-20 rounded" alt="url">
        <button type="button"
            class="absolute bg-indigo-600 hover:p-1 rounded-xl top-0 right-0 transform translate-x-1/2 -translate-y-1/2"
            (click)="removeImage($event, i)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.28 7.22a.75.75 0 00-1.06 1.06L8.94 10l-1.72 
                1.72a.75.75 0 101.06 1.06L10 11.06l1.72 1.72a.75.75 0 101.06-1.06L11.06 
                    10l1.72-1.72a.75.75 0 00-1.06-1.06L10 8.94 8.28 7.22z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
</div>
<input #fileInput type="file" multiple accept="image/*" hidden (change)="handleFiles($event)">