<div class="fixed inset-0 w-screen h-max min-h-screen z-10 backdrop-blur-sm" (click)="this.closeModal.emit()"></div>
<form class="z-20 fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
 bg-slate-800 rounded-lg p-5 text-white font-sans font-semibold w-fit">
    <div class="flex flex-col items-center border-b border-b-white p-2 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
                d="M8.485 2.495c.673-1.167 2.357-1.167 3.03 0l6.28 10.875c.673 1.167-.17 2.625-1.516 2.625H3.72c-1.347 0-2.189-1.458-1.515-2.625L8.485 2.495zM10 5a.75.75 0 01.75.75v3.5a.75.75 0 01-1.5 0v-3.5A.75.75 0 0110 5zm0 9a1 1 0 100-2 1 1 0 000 2z"
                clip-rule="evenodd" />
        </svg>
        <p class="text-center">Are you sure?</p>
    </div>
    <div class="flex justify-center gap-2">
        <button type="submit" class="bg-red-500 hover:bg-red-700 font-semibold rounded-lg p-1 w-24" (click)="this.removePost.emit()">Remove</button>
        <button type="button" class="bg-gray-500 hover:bg-gray-700 font-semibold rounded-lg p-1 w-24" (click)="this.closeModal.emit()">Close</button>
    </div>
</form>